In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import os
import operator
import matplotlib.pyplot as plt
import scipy
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import multilabel_confusion_matrix, accuracy_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from matplotlib.pyplot import figure

In [2]:
#Create a path to where your data is stored.
path = 'C:/Users/kaan/ML'

In [3]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'dataset_scaled.pkl'))

In [6]:
#import pleasant weather data
df_pw = pd.read_csv(os.path.join(path,'02 Data','Original data','Dataset-Answers-Weather_Prediction_Pleasant_Weather.csv'))

In [10]:
#dropping unrelated station data from main dataset
df_main =df.drop(columns=['id',
 'GDANSK_cloud_cover',
 'GDANSK_humidity',
 'GDANSK_precipitation',
 'GDANSK_snow_depth',
 'GDANSK_temp_mean',
 'GDANSK_temp_min',
 'GDANSK_temp_max','ROMA_cloud_cover',
 'ROMA_wind_speed',
 'ROMA_humidity',
 'ROMA_pressure',
 'ROMA_sunshine',
 'ROMA_temp_mean','TOURS_wind_speed',
 'TOURS_humidity',
 'TOURS_pressure',
 'TOURS_global_radiation',
 'TOURS_precipitation',
 'TOURS_temp_mean',
 'TOURS_temp_min',
 'TOURS_temp_max'])

In [11]:
df_main.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,-0.902918,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,19600102,1,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,-0.810126,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,19600103,1,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,-1.065304,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,19600104,1,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,-0.114186,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,19600105,1,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,0.187388,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186

In [12]:
#Create an 'X' and 'y' matrix by dropping the unneeded columns.
X = df_main.drop(['DATE', 'MONTH'], axis=1)
y = df_pw.drop(['DATE'],axis=1)

In [13]:
print(X.shape)
print(y.shape)

(22950, 147)
(22950, 15)

In [14]:
#Split data into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(17212, 147)
(5738, 147)
(17212, 15)
(5738, 15)

# Decision tree

In [28]:
#Run Decision Tree classifier
df_dt = DecisionTreeClassifier(criterion='gini', min_samples_split=2)
df_dt.fit(X_train, y_train)
figure(figsize=(15,15))
tree.plot_tree(df_dt)

TypeError: 'Figure' object is not callable

In [19]:
#What is the training accuracy score? Using the cross validation method
y_pred_train = df_main.predict(X_train)
print('Train accuracy score: ',cross_val_score(df_main, X_train, y_train, cv = 3, scoring='accuracy').mean())

Train accuracy score:  0.6030677831962784

In [20]:
#What is the testing accuracy score? Using the cross validation method
y_pred = df_main.predict(X_test)
print('Test accuracy score: ',accuracy_score(y_test, y_pred))
multilabel_confusion_matrix(y_test, y_pred)

Test accuracy score:  0.6296619031021262

array([[[4162,  176],
        [ 167, 1233]],

       [[3642,  134],
        [ 130, 1832]],

       [[3743,  157],
        [ 153, 1685]],

       [[4392,  245],
        [ 188,  913]],

       [[4474,   33],
        [  31, 1200]],

       [[4286,  284],
        [ 256,  912]],

       [[4668,  147],
        [ 145,  778]],

       [[4134,   61],
        [  45, 1498]],

       [[4327,  235],
        [ 172, 1004]],

       [[2993,  175],
        [ 144, 2426]],

       [[4379,  167],
        [ 161, 1031]],

       [[4730,  149],
        [ 148,  711]],

       [[5738,    0],
        [   0,    0]],

       [[4499,  267],
        [ 256,  716]],

       [[5289,  173],
        [ 172,  104]]])

In [26]:
locations = list({x.split("_")[0] for x in df_main.columns if x not in ["MONTH", "DATE"]})
locations.sort()
print(locations)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'columns'